<div id="transaction_amount_<%= transaction.id %>" class="detail-value">
    <% if transaction.amount_cents.present? %>
        <%= humanized_money_with_symbol transaction.amount %>
    <% else %>
        <span class="text-gray-400 font-normal text-xl italic">Não informado</span>
    <% end %>
</div>