<span> ID da transação: <%= @transaction.id %></span>

<%= turbo_stream_from "transaction_#{@transaction.id}" %>

<%= render partial: "transactions/amount", locals: { transaction: @transaction } %>

<div>
    <%= link_to "Editar transação", edit_transaction_path %>
</div>